<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>About Me!</title>
    <h1>Welcome to know about me!</h1>
    
    </head>
    
    <%= link_to "Home",root_path   %>
    </html>