<!doctype html>

<html>
	<head>
		<title> Welcome to Best 4 You-QA </title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header id ="header_design">
	   <%= image_tag 'MyLogo.png'  %>
	   
	   
		<h1 class="head_test">Make Testers Life Easy by doing effecting testing</h1>
		</header>
		<nav id="top_nav">
			<ul>
				<li> <a href="#">Tutorials</a></li>
				<li><%=  link_to 'About_Us', about_path %></li>
				<li> <a href="page3.html">Tutorials</a></li>
				<li> <a href="#">Contact</a></li>
			</ul>
		</nav>
		<section id ="the_section">
		
		<div id="main_section">
		<p><img src="images/prof_pic.jpg" class="prof_pic" width="197" height "200" alt="profile pic" > </p>
		
		<div class="about_me">
		Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***
		Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***
		
		</div>
		<p>My Ultimate Goal is <span class = "S1_test"> MTLE </span> <span class = "S2_test">:)</span></p>
		<div id ="MTLE" >
		<p>Make</p>
		<p>Testers</p>
		<p>Life</p>
		<p>Easy</p>
		</div>
		
		<p class ="about_selenium">	
		
		Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***
		Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***
		Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***Really happy to see this initiative***

		</p>
			<ul id="smile_img">
				<li>Selenium IDE</li>
				<li>Selenium WebDriver</li>
				<li>Automation With Python</li>
				<li>Creating Frameworks</li>
			</ul>
		
		
		<p><img src ="images/SeleniumWD_IMG1.png" height = "210" width = "400"/></p>
		
		
		<a  href="page2.html">visit webdriver guide</a><br/>
		
		<a name="#testing"  href="page2.html">visit for HTML and CSS Tips</a>
	
		<div>
			<h2 class="red_text">This is the css vaidating test</h2>
			<h2 class="blue_text">This is the css vaidating test2	</h2>
			
			<p>MAYU I want you to <span class="maroon_text">always</span> keep your spirit to learn <span class="blue_text">development</span> codes</p>
			<p id="orange_p"> Your progress is very good, keep going</p>
		</div>
		<p>
			<a href ="http://www.w3schools.com/js/js_intro.asp"> this is my website </a>
		</p>
		</div>
		</section>
		<aside id="side_news">
			<h2 id="Side_br">Recent News!</h2>
			<p>Add me on Linkedin</p>
		</aside>
		<div id="footer">
		<h3>Happy Testing</h3>
		</div>
		
	</body>
</html>